# compiled output
/dist
/ts-dist
/tmp

node_modules/

# IDE - WebStorm
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml
.idea/shelf

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables file
.env

# System Files
.DS_Store
Thumbs.db

# Runtime data
pids
*.pid
*.seed
*.pid.lock
packages/server/coverage/
.idea/discord.xml
packages/client/src/screens/in-game/game-playground/old_playground.ts
